*{
    user-select: none;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
}

.company-info {
    flex: 2 1 300px;
}

.company-logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #FFC107; /* Adjust color if needed */
    font-family: 'Roboto', sans-serif;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.subscribe-section {
    flex: 1 1 300px;
}

.newsletter {
    display: flex;
    margin-top: 10px;
}

.newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    font-family: 'Roboto', sans-serif;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #FFC107;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    color: white;
    margin-right: 28px; 
    font-size: 24px;
}

.footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-weight: 400;
}

.footer-links {
    display: flex;
}

.footer-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 400;
}

.footer-links a:hover {
    text-decoration: underline;
}
