@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:transparent;
  padding: 10px 20px;
}

.navbar-logo a {
  color: #FFC107;
  font-size: 34px;
  font-family: "Lora", serif;
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

.navbar-search input {
  width: 680px;
  height: 20px;
  font-size: large;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-button {
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.cart-icon {
  width: 30px;
  height: 30px;
}
