/* Slider.css */
.slider {
  position: relative;
  width: 100%;
  height: 600px; /* Adjust the height as needed */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: left 1s ease-in-out, opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

.slide.active {
  left: 0;
  opacity: 1;
}
